h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
}

body {
	font-family: "Roboto Mono", monospace;
	min-height: 100%;
	background-image: url("https://www.investopedia.com/thmb/spfLaJj0LkGnU3LwR10SWvJPkEo=/2600x1294/filters:fill(auto,1)/GettyImages-1153657433_2600-573e917e27f9442eb87ac10f45ce43ea.jpg");
}

.container {
	text-align: center;
	padding: 20px;
	height: 100vh;
}

.page-title {
	color: #ffffff;
	margin: 0 0 5px;
}

.page-subtitle {
	color: #ffffff;
	margin-top: 5px;
}

.page-logo {
	width: 200px;
}

.alura-logo {
	width: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
}

/*  */

.conversor__box {
	width: 940px;
	padding: 40px 20px;
	margin: 50px auto 0;
	background: linear-gradient(45deg, #ffffff90, #76767690);
	border-radius: 15px;
}

.flex-container {
	display: flex;
}

.titulo--padrao {
	margin-bottom: 1.5em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 0 5px #000;
	font-size: 2em;
	font-weight: bold;
}

.formulario {
	width: 30vw;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 15px #000;
}

input,
button {
	border: none;
	padding: 1em;
	font-weight: bold;
	box-sizing: border-box;
}

input {
	width: 70%;
	font-size: 0.9em;
	border-radius: 10px 0 0 10px;
	outline: none;
}

button {
	width: 30%;
	text-transform: uppercase;
	border-radius: 0 10px 10px 0;
}

.cotacao {
	margin-top: 50px;
	justify-content: space-around;
}

.cotacao__caixa {
	width: 27%;
	background-color: #1d1e22;
	border-radius: 10px;
}

.cotacao__subtitulo {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4em;
}

.cotacao__texto {
	display: inline-block;
	padding: 5px;
	color: #fff;
	border-bottom: 1px solid #fff;
	font-size: 1.2em;
	font-weight: bold;
}
